%section.aside_facebook
  .fb-like-box{"data-header" => "true", "data-height" => "120", "data-href" => "http://www.facebook.com/3incomv", "data-show-faces" => "false", "data-stream" => "true", "data-width" => "260"}
%section.aside_section_01
  %span.tape
    %img.tapeimg{src: 'images/tape.png', alt: ''}
  %h3
    %img{src: 'images/next.png', alt: '次回の開催'}
  %p
    %span.aside_p_test
      %span.big 第17回山陰コンピュータ部
      %br 2013/03/17 13:00〜
      %a{href: 'http://atnd.org/events/37418'}
        %img{src: 'images/participation.png'}
%section.aside_section_02
  %span.tape
    %img.tapeimg{src: 'images/tape.png', alt: ''}
  %h3
    %img{src: 'images/back.png', alt: '前回の開催'}
  .aside_inner_list
    %ul
      - backlist = [[36803, '第16回', '2013/02/24'],
                    [35939, '第15回', '2013/01/14'],
                    [34772, '第14回', '2012/12/22'],
                    [33295, '第13回', '2012/11/18'],
                    [32594, '第12回', '2012/10/13'],
                    [31788, '第11回', '2012/09/15'],
                    [31082, '第10回', '2012/08/19'],
                    [30331, '第9回', '2012/07/21'],
                    [29256, '第8回', '2012/06/16'],
                    [28289, '第7回', '2012/05/13'],
                    [27058, '第6回', '2012/04/21'],
                    [25556, '第5回', '2012/03/24']]
      - backlist.each do |event|
        %li
          %a{href: "http://atnd.org/events/#{event[0]}"}
            = "#{event[1]}山陰コンピュータ部"
          = "(#{event[2]})"
      %li 第4回山陰コンピュータ部 (2012/02/19)
      %li 第3回山陰コンピュータ部 (2012/01/14)
      %li 第2回山陰コンピュータ部 (2011/12/21)
      %li 第1回山陰コンピュータ部 (2011/11/27)
%section.aside_section_banner
  %a{href: 'http://www.it-stamp.jp/'}
    %img{src: 'images/it-stamp.png'}
