!!! 5
%html{lang: 'ja_JP'}
  %head
    %title 山陰コンピュータ部
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylz/style.css'}
    = render '_metadata'
    = render '_analytics'
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  %body
    %a{href: 'https://github.com/3incomv/3incomv-official-site'}
      %img{style: 'position: absolute; top: 0; right: 0; border: 0;', src: 'https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt: 'Fork me on GitHub'}
    #container
      %header
        %h1
          %img{src: 'images/logo.png', alt: 'logo_text'}
          %img{src: 'images/logo_text.png', alt: 'logo'}
        = render '_top_image' if item.path == '/'
      #contents.clearfix
        .main
          = yield
        %aside
          = render '_sidebar'
      %script{:src => "https://www.messageleaf.jp/embed.js"}
      :javascript
        new MSGLF({ titleBgColor: '#A7CB52', titleFontColor: '#FFFFFF', position: 'left' }).changeDesign();
      %footer
        %p
          Copyright &copy;2012 山陰コンピュータ部 All Rights Reserved.
